@font-face {
font-family: 'Lateef';
font-style: normal;
src: local('Lateef'), url(http://themes.googleusercontent.com/static/fonts/lateef/v2/PAsKCgi1qc7XPwvzo_I-DQ.ttf) format('truetype');
}
td{
	border: 1px solid;
	border-color:rgb(139,200,217);
	
}
.border-bot{
	border-bottom: 1px solid;
	border-color:rgb(139,200,217);

}
.border-lef{
	border-left: 1px solid;
	border-right:  1px solid;
	border-color:rgb(139,200,217);

}
.border-rig{
	
	border-right:0px;
	
}
.border-le{
	
	border-left:0px;
	
}
#border-to1{
	
	border-top: 1px solid;
	border-color:rgb(139,200,217);
	
}
#border-to2{
	
	border-top: 1px solid;
	border-color:rgb(139,200,217);
	
}
#border-to3{
	
	border-top: 1px solid;
	border-color:rgb(139,200,217);
	
}
#border-to4{
	
	border-top: 1px solid;
	border-color:rgb(139,200,217);
	
}
#border-to5{
	
	border-top: 1px solid;
	border-color:rgb(139,200,217);
	
}
.matiere_ar{

	font-family: arial;
	
}

.matiere_fr{

	font-family: calibri;

}

.module{

font-family: 'Lateef';
	

}
.module_allong{

font-family: 'Lateef';
}
.note{

	font-family: arial;
    font-weight: bold;
}
.coef{

	font-family: arial;
    
}
.averg_mod{

	font-family: arial Black;
    font-weight: bold;
}

}
.moy{

	font-family: calibri;
	
}
.bulltein{
	font-family: arial;
	font-size:24px;;
}
.titre-note{
	font-family: Tahoma;
	
}
.nom{

	font-family: calibri;
	font-size: 17px;
	font-weight: bold;
}