.border{

	border-color:#45ABC8;
}
.matiere_ar{

	font-family: arial;
	font-size: 11px;
}

.matiere_fr{

	font-family: calibri;
	font-size: 10px;
}

.module{

	font-family: calibri;
	font-size: 15px;

}
.note{

	font-family: calibri;
	font-size: 10px;

}
.moy{

	font-family: calibri;
	font-size: 13px;
}
.bulltein{
	font-family: arial;
	font-size: 11px;
}
.titre-note{
	font-family: Tahoma;
	font-size: 12px;
}
.nom{

	font-family: calibri;
	font-size: 11px;
	color:red;
}